* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.container{
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 10px;
}





.todo_title{
    font-size: 29px;
    text-align: center;
    margin: 15px 0;
    color: #7a956b;
}

.form_input {
  height: 50px;
  padding: 0 10px;
  border-radius: 5px;
  border: 1px solid #7a956b;
  width: 100%;
  font-size: 17px;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
 background-color: #7a956b;
 color: #fff;
}
.form_input::placeholder{
   color: #fff;
}

.form_item {
  margin-bottom: 20px;
}

.form_lable {
  font-size: 18px;
  display: block;
  margin-bottom: 10px;
}



.todo_ul_list{

}

.todo_li_item {
   width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
   cursor: pointer;
  background: #f3f3f3;
  padding: 10px 20px ;
  margin: 10px 0;
}

.todo_li_item span{
  
  padding: 0 20px;
}

.todo_li_item.completed span {
  text-decoration: line-through;
}










.todo_checkbox {
  display: none;
}

.checkbox_label {
  display: block;
  margin: 0 10px 0 0;
  height: 22px;
  width: 22px;
  border: 2px solid #999;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
}



.checkbox_label::after {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  content: "";
  position: absolute;
  border-radius: 50%;
  top: 3px;
  left: 3px;
  width: 12px;
  height: 12px;
  background-color: #7a956b;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.todo_checkbox:checked + .checkbox_label::after {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}












